<a href="/api/posts/{{id}}" style="color: black; text-decoration: none;">
<div class="card" id="all-posts">
    <section class="card-body" id="one-post">
        <div class="cardHeader display-flex">
            <h3 class="card-title">{{title}}</h3>
        </div>
        <br>
        <p><strong>By {{post_author}} on {{post_date}}</strong></p>
        <p class="postBody">{{post_body}}</p>
    </section>
</div>
</a>
<br>