<a href="/onepost/{{id}}" style="color: black; text-decoration: none;">
    <div class="card" id="all-posts">
        <section class="card-body" id="one-post">
            <div class="cardHeader display-flex">
                <h3 id="card-title">{{title}}</h3>
            </div>
            <br>
            <p><strong>By {{post_author}} on {{post_date}}</strong></p>
            <p id="postBody">{{post_body}}</p>
            <div class="cardFooter display-flex" style="text-align: right">
            </div>
        </section>
    </div>
</a>
<br>